<div class="container">
  <div class="row">
    <h1>Creatures Show</h1>
    <h3><%= @creature.name_common %></h3>
    <h3><%= @creature.name_latin %></h3>
    <h3><%= @creature.population_status %></h3>
    <img src="<%= @creature.image_url %>">
  </div>

</div>